@main(section = "test", title = "Pre Subscription Events") {

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<label>Authentication<input type="checkbox" class="add" value="authentication" /></label>
<label>Search<input type="checkbox" class="add" value="search" /></label>
<label>Messages<input type="checkbox" class="add" value="messages" /></label>
<label>Favourites<input type="checkbox" class="add" value="favourites" /></label>

<script>
        var series;

        function jsonGet(tag, callback) {
            return $.getJSON('/a/presub/'+tag, function (data) {
                callback(data);
            })
        }

        $(function () {
            $(".add").change(function() {
                var tag = this.value;
                var chart = $('#container').highcharts();

                if (!this.checked) {
                    return chart.get(tag).remove();
                };

                $.when(
                    jsonGet(tag, function(data) {
                        series.push(data[0]);
                    })
                ).then(function() {
                    chart.addSeries(series.filter(function(i) { return i.name == tag } )[0]);
                })
            })


            $.when(
                jsonGet("profile.views", function(data) {
                    series = data;
                })
            ).then(function() {
                $('#container').highcharts({
                    chart: {
                        type: 'line'
                    },

                    navigator : {
                        enabled : false
                    },

                    series : series
                });
            })
        });
    </script>
}