@main(title = "Scatter") {

<div id="scatter-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div id="average-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>

<script>
        var series;

        Highcharts.setOptions({
            colors: ['#5481d6', '#d654Af']
        })

        function jsonGet(callback) {
            return $.getJSON('/q/scatter', function (data) {
                callback(data);
            })
        }

        $(function () {
            $.when(
                jsonGet(function(data) {
                    series = data;
                })
            ).then(function() {

                $('#average-container').highcharts({



                    series: function() {
                        var parsed = series.map(function(ser, idx){
                            var ranges = [];
                            var ages = [];

                            ser.data.sort(function(a, b) {
                                if (a[1] < b[1]) return -1;
                                if (a[1] > b[1]) return 1;
                                return 0;
                            }).map(function(point) {
                                if (point[1]) {
                                    ages.push([point[1]]);
                                    ranges.push([point[2], point[3]]);
                                }
                            })

                            return [{
                                series: "Age",
                                color: Highcharts.getOptions().colors[idx],
                                data: ages
                            }, {
                                series: "Search ranges",
                                data: ranges,
                                type: "arearange",
                                lineWidth: 0,
                                fillOpacity: 0.3,
                                color: Highcharts.getOptions().colors[idx],
                                zIndex: 0
                            }]
                        })

                        return [parsed[0][0], parsed[0][1], parsed[1][0], parsed[1][1]];
                    }()
                });

                $('#scatter-container').highcharts({
                    chart: {
                        type: 'scatter'
                    },

                    title: {
                        text: 'Average age searched for by gender'
                    },

                    xAxis: {
                        title: {
                            enabled: true,
                            text: 'Member age'
                        }
                    },

                    yAxis: {
                        title: {
                            text: 'Avg searched for age'
                        }
                    },

                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
                            tooltip: {
                                pointFormat: 'Age: {point.x}<br/>Looked for: {point.y} '
                            }
                        }
                    },

                    series: function() {
                        var parsed = series.map(function(ser){
                            return {
                                'data': ser.data.map(function(point) {
                                            return [point[1], (point[2] + point[3]) / 2];
                                        }),
                                'name': ser.name
                            }
                        })
                        return parsed;
                    }()
                });
            })
        });
    </script>
}