@(title: String)

@main(title = title) {

<h1 class="page-header">@title</h1>

<div class="row top-spaced">
    <div class="col-md-2">
        <dl>
            <dd><h2 class="top-none"><small>Avg time to subscribe</small></h2></dd>
            <dt><h3 id="subscriptionTimeMetric"></h3></dt>
        </dl>
    </div>
    <div class="col-md-10 top-spaced">
        <div id="subscriptionNumbers"></div>
    </div>
</div>

<div class="row top-spaced">
    <div class="col-md-8">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Age Demographic</th>
                <th>Female</th>
                <th>Male</th>
            </tr>
            </thead>
            <tbody id="subscriptionDemographicsTable"></tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div id="subscriptionDemographicsPie"></div>
    </div>
</div>

<script>
        (function() {
            $(function () {
                $.when(
                    ESA.Utils.jsonGet("/subscription/subscribers", "")
                ).then(function(series) {
                    $('#subscriptionNumbers').highcharts('StockChart', {
                        chart: {
                            height: 300
                        },

                        navigator: {
                            enabled : false
                        },

                        rangeSelector: {
                            enabled: false
                        },

                        scrollbar: {
                            enabled: false
                        },

                        yAxis: {
                            min: 0
                        },

                        series : [{
                            type : 'area',
                            data: series,
                            fillColor : {
                                linearGradient : {
                                    x1: 0,
                                    y1: 0,
                                    x2: 0,
                                    y2: 1
                                },
                                stops : [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.1).get('rgba')]
                                ]
                            }
                        }]
                    });
                })
            });
        })();

        (function() {
            var endpoint = '/subscription/timeToSubscribe';
            $(function () {
                $.when(
                    ESA.Utils.jsonGet(endpoint, "")
                ).then(function(num) {
                    console.log(num);
                    $('#subscriptionTimeMetric').text((num.data / (60*60*24)).toFixed(1) + " days");
                })
            });
        })();

        (function() {
            var endpoint = '/subscription/demographics';
            $(function () {
                $.when(
                    ESA.Utils.jsonGet(endpoint, "")
                ).then(function(data) {
                    var colors = Highcharts.getOptions().colors;
                    var fragment = document.createDocumentFragment();

                    var splitData = [];

                    var parsedData = data[data.length-1].map(function(row, idx) {

                        for (var i in row) {
                            if (row.hasOwnProperty(i)) {
                                splitData.push({
                                    name: (i === "man" ? "Men" : "Women"),
                                    y: row[i].revenue,
                                    color: colors[idx]
                                })
                            }
                        }

                        return {
                            name: row["man"].range,
                            y: row["man"].revenue + row["woman"].revenue,
                            color: colors[idx]
                        }
                    })

                    var tableData = data[data.length-1];

                    tableData.map(function(row, idx) {
                        var rowData = fragment.appendChild( $('<tr>')[0] );
                        rowData.appendChild($('<td>'+row['man'].range.replace(/\.0/g, '')+'</td>')[0]);
                        var maleData = rowData.appendChild( $('<td>')[0] );
                        var femaleData = rowData.appendChild( $('<td>')[0] );

                        var maleWoW = ESA.Utils.formatWoW(row['man'].revenue, data[data.length-2][idx]['man'].revenue);
                        var femaleWoW = ESA.Utils.formatWoW(row['woman'].revenue, data[data.length-2][idx]['woman'].revenue);

                        maleData.appendChild($('<td>'+row['man'].revenue+' <small>'+maleWoW+'</small></td>')[0]);
                        femaleData.appendChild($('<td>'+row['woman'].revenue+' <small>'+femaleWoW+'</small></td>')[0]);
                    })

                    $('#subscriptionDemographicsTable')[0].appendChild(fragment.cloneNode(true));


                    $('#subscriptionDemographicsPie').highcharts({
                        chart: {
                            type: 'pie',
                            height: 300
                        },

                        title: {
                            text: ""
                        },

                        series: [{
                            data: parsedData,
                            size: '75%',
                            dataLabels: {
                                formatter: function () {
                                    return this.y > 5 ? this.point.name : null;
                                },
                                color: 'white',
                                distance: -40
                            }
                        }, {
                            data: splitData,
                            size: '90%',
                            innerSize: '75%',
                            dataLabels: {
                                formatter: function () {
                                    return this.y > 1 ? '<b>' + this.point.name + '</b> ' : null;
                                },
                                distance: 10
                            }
                        }]
                    });

                })
            });
        })();
    </script>
}